*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 80px;
    height: 285px;
    background-color: #fc7a7a;
    position: relative;
}
.nav > h2{
    margin-bottom: 0;
    transform: rotate(270deg);
    position: absolute;
    top: 120px;
    right: 1px;
}